COMANDOS:

* import pandas as pd -> Importa a biblioteca Pandas e coloca o apelido "pd".
* df = pd.DataFrame(clientes) -> Converte a biblioteca em DF (DataFrame)
* df -> Abre o DataFrame
* df = pd.DataFrame() -> Criar um dataframe vazio
* df.iloc[3, 2] ->Localiza uma informação no index. Seleciona a linha 3(Diego) e coluna 2 (Joenville)
* df.iloc[0:2, 0:2] ->Localiza uma informação no index. Seleciona da linha 0 a 3 e coluna 0 a 2.
* df.loc[0, <inicio:fim>] -> Selecionar primeira linha e um intervalo de coluna
* df.loc[<inicio:fim>, 0] -> Selecionar um intervalo de linha e uma coluna
* df.loc[<inicio:fim>, <inicio:fim>] -> Selecionar um intervalo de linha e um  intervalo de coluna
* df.loc[<inicio:fim>, "idade"] -> Selecionar um intervalo de linha e uma coluna pelo nome
* df.loc[<inicio:fim>, ["idade", "nome", "cidade"]] -> Selecionar um intervalo de linha e várias coluna pelo nome

In [13]:
import pandas as pd

pessoas = {
"nome" : ['Conrado', 'Claudio', 'Fernando', 'Diego', 'André','Lucas', 'Maria'],
"idade" : [43, 30, 36, 48, 36, 75, 28],
"cidade" : ['Bauru', 'Niteroi', 'Ouro Preto', 'Joenville', 'Curitiba', 'Santos', 'Lins'],
"estado": ['SP', 'RJ', 'MG', 'SC', 'PR', 'SP', 'SP']
}

In [14]:
df = pd.DataFrame(pessoas) #  Converte a biblioteca em DataFrame

In [42]:
df

       nome  idade      cidade estado
0   Conrado     43       Bauru     SP
1   Claudio     30     Niteroi     RJ
2  Fernando     36  Ouro Preto     MG
3     Diego     48   Joenville     SC
4     André     36    Curitiba     PR
5     Lucas     75      Santos     SP
6     Maria     28        Lins     SP